nav(class="navbar navbar-default")
  ul(class="nav nav-pills navbar-right")
    li
      a(href="/" class="btn btn-outline-success") Home
    li
      a(href="/WeatherForecast" class="btn btn-outline-success") WeatherForecast
    li
      a(href="/Users" class="btn btn-outline-success") Users
    li
      a(href="/WeatherForecastTest" class="btn btn-outline-success") WeatherForecastTest