doctype html
html
  head
    title= title

    link(rel='stylesheet', href='/include/css/bootstrap.min.css')

    link(rel='stylesheet', href='/stylesheets/main.css')

    script(type='text/javascript', src='/include/js/jquery-1.9.1.min.js')
    script(type='text/javascript', src='/include/js/bootstrap.min.js')

  body(class='p-3 m-0 border-0 bd-example bd-example-row')
    block content