extends layout

block content
    include header.pug
    h1= title
    p Welcome to #{title}
    .container
        if !searchResults
          .result-count
            p No results found for your query
        else
            hr
            hr
            each story in searchResults
                h3.title #{story.summary}
                p #{story.details}